@charset "UTF-8";
/* CSS Document */
/*from line HTML to * do this for all projects that deal with floating...*/
html{
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	
}
body {
	color:#343434;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.5;

	
}
img {
	width: 300px;
}
header {
	font-family: 'Roboto', sans-serif;
	background-color: #2F3061;
	color:antiquewhite;
	font-style: italic;
}
/*link color schemes*/
a{
	color: #FFE66D;
}
a:link {
	color: green;
}
a:visited{
	color: grey;
}
a:active {
	color: red;
}
a:hover {
text-decoration: none;
}
h1{
	font-size: 50px;
	line-height: 1;
}
h2{
	
	font-size: 35px;
}
p{
	font-size: 20px;
	line-height: 2;
}
h1, h2{
		font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	margin: 0;
}

.content-wrap{
	width: 800px;
	margin: 0 auto;
	padding: 60px 0;
}
/*projects*/
.projects {
	background-color:lightblue;
}
.projects a {
	color: #2F3061;
}
.projects .btn {
	color: #F7FFF7;
	background-color: darkblue;
	padding: 8px;
	border-radius: 4px;
	display: inline-block;
	
}
.projects a:hover {
	background:
		rgb(47,48,97,80%);
}
.project-item { 
overflow: hidden;
	border-bottom: 1px dashed #343434;
	padding: 25px 0;
}
.project-item img {
	float: left;
margin-right: 20px;

}

.project-item h3 {
	margin-top: 0;
	
}
/*work*/
.work {
	background-color:#a1c607;
}
/*education*/

/*contactinfo*/
footer {
	font-family: 'PT Sans', sans-serif;
	background-color: darkgray;
	color: antiquewhite;
}